<div class="flex items-center justify-center gap-2">
  {{#each stars as |star index|}}
    <div class="group relative {{#if asinput}}cursor-pointer{{/if}}" style="width: {{size}}px; height: {{size}}px;">
      <div class="absolute inset-0 flex transform items-center justify-center transition-transform duration-200 ease-in-out group-hover:scale-125">
        <svg
          width="{{size}}"
          height="{{size}}"
          class="{{#if (gt star 0)}} {{starClass}} {{else}} {{emptyStarClass}} {{/if}} {{#unless fill}} fill-transparent {{/unless}}"
          {{#if asinput}} role="input" {{/if}}
        >
          <use xlink:href="#star-icon"></use>
        </svg>
        {{#if (lt star 1)}}
          <div style="position: absolute; top: 0; left: 0; width: {{multiply star 100}}%; overflow: hidden; height: 100%;">
            <svg
              width="{{size}}"
              height="{{size}}"
              class="fill-current {{starClass}}"
            >
              <use xlink:href="#star-icon"></use>
            </svg>
          </div>
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
