<button
  id="{{ id }}"
  class="{{mergeClasses 'bg-primary text-mainwhite cursor-pointer font-bold py-2 px-4 rounded focus:outline-none focus:shadow- hover:bg-opacity-80 transition-colors duration-300' className}}"
  type="{{ type }}"
  onclick="{{ onClick }}"
>
  {{ content }}
</button>
